
body{
  display: flex;
  align-items: center;  
  justify-content:center;/* Centers vertically */
  height:100vh;
}
.box{
	text-align:center;
	background-color:lightblue;
	height:200px;
	width:200px;
	border:1px solid black;
}